.showMed {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
    width: 100%;
}

.navbar-nav li {
    margin: 0 10px;
    padding: 8px;
}

.navbar-nav li:hover {
    background-color: #edf2f7;
    border-radius: 6px;
}


#showServicesBox:hover #showServices {
    display: block;
}

.navbar li:hover a {
    color: green;
}

@media screen and (max-width:910px) {
    .showMed {
        display: block;
    }

    .navbar {
        display: none;
    }
}